@font-face {
 font-family:"Manrope VF";
 src:url(https://www.manropefont.com/assets/fonts/variable/Manrope[wght].woff2) format("woff2-variations");
 font-style:normal;
 font-variation-settings:"wght" 500;
 font-variation-ligatures:normal;
 font-weight:200 800
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-ExtraLight.woff2) format("woff2");
 font-weight:200
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-Light.woff2) format("woff2");
 font-weight:300
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-Regular.woff2) format("woff2");
 font-weight:400
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-Medium.woff2) format("woff2");
 font-weight:500
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-SemiBold.woff2) format("woff2");
 font-weight:600
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-Bold.woff2) format("woff2");
 font-weight:700
}
@font-face {
 font-family:Manrope;
 src:url(https://www.manropefont.com/assets/fonts/webfonts/Manrope-ExtraBold.woff2) format("woff2");
 font-weight:800
}
